# builder 的优化规则
-keepattributes *

# 貌似大小写会出问题，导致文件名大写，对应class小写
-dontusemixedcaseclassnames

# ratel 框架入口class
-keep  class ${{BUILDER_MAIN}} {
    public static void main(java.lang.String[]);
}

-keep class org.jf.dexlib2.Opcode{*;}

-keep class com.android.apksig.internal.**{*;}

-dontwarn
# 开源环境，我们不做混淆
-dontobfuscate
# proguard应该是有bug，如果开启了优化，则会直接报错，具体原因不明
# 不过目前我们主要工作是执行代码压缩，这样可以让我们的jar包更小
-dontoptimize